.calendar {
  margin-top: -20px;
  display: flex;
  .days {
    margin-left: 0px;
    &__list {
      list-style: none;
      &__item {
        padding: 0.5rem;
      }
    }
  }
  .item-filled {
    background-color: $item-filled-bg;
    cursor: pointer;
  }
  .completed {
    background-color: $orange;
    text-decoration: line-through;
    cursor: not-allowed;
  }
  .hours {
    width: 100%;
    margin-left: -2.5rem;
    &__list {
      list-style: none;
      display: flex;
      &__item {
        width: 61px;
        font-size: 0.6rem;
        border: $border;
        padding: 0.2rem;
        min-height: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}
.hours-title {
  display: flex;
  .title__list {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 2rem 4rem 1rem 4rem;

    border-bottom: $border;
    border-top: $border;
    &__item {
      padding: 1rem 1rem 0px 1rem;
      margin: 0.3rem;
      &:nth-child(2),
      &:nth-child(11),
      &:nth-child(12) {
        margin-left: -0.2rem;
      }
      &:nth-child(6) {
        margin-left: -0.5rem;
      }
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        margin-left: -0.3rem;
      }
      &:nth-child(13) {
        margin-left: -0.2rem;
      }
    }
  }
}
