$border: solid 1px #ddd;
$body-bg: rgb(233, 233, 233);
$container-bg: #f5f5f5ad;
$analytics__item-bg: #fff;
$header-color: tomato;
$content-text: rgb(190, 190, 190);
$item-filled-bg: lightgreen;
$light-orange: #f9bd09;
$orange: #fe8344;
$dark-pink: #ff1144;
$light-purple: #cd7bdd;
$myblue: #007cdc;
$light-blue: #85bff4;
$light-green: #8bc343;
