$border: solid 1px #ddd;
$body-bg: rgb(233, 233, 233);
$container-bg: #f5f5f5ad;
$analytics__item-bg: #fff;
$header-color: tomato;
$content-text: rgb(190, 190, 190);
$item-filled-bg: lightgreen;
$light-orange: #f9bd09;
$orange: #fe8344;
$dark-pink: #ff1144;
$light-purple: #cd7bdd;
$myblue: #007cdc;
$light-blue: #85bff4;
$light-green: #8bc343;

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: $body-bg;
}

.container {
  margin: 1rem auto;
  width: 80%;
  border: $border;
  background-color: $container-bg;
  border-radius: 0.5rem;
}
.container__analytics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 94%;
  .analytics__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.5rem;
    align-items: center;
    background-color: $analytics__item-bg;
    line-height: 0.8rem;
    border-radius: 0.5rem;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 91%,
      94% 91%,
      100% 100%,
      79% 92%,
      0 92%
    );

    &--header {
      font-size: 3rem;
      color: $header-color;
    }
    &--content {
      font-size: 0.85rem;
      color: $content-text;
      margin-bottom: 1rem;
    }
  }
}
.button {
  padding: 0.6rem;
  width: 120px;
  border-radius: 0.5rem;
  border: none;
}
.hours-title {
  display: flex;
  .title__list {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 2rem 4rem 1rem 4rem;

    border-bottom: $border;
    border-top: $border;
    &__item {
      padding: 1rem 1rem 0px 1rem;
      margin: 0.3rem;
      &:nth-child(2),
      &:nth-child(11),
      &:nth-child(12) {
        margin-left: -0.2rem;
      }
      &:nth-child(6) {
        margin-left: -0.5rem;
      }
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        margin-left: -0.3rem;
      }
      &:nth-child(13) {
        margin-left: -0.2rem;
      }
    }
  }
}
.events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2rem;
  .form__events {
    display: flex;
    width: 100%;
    justify-content: space-around;
    .events__day__options,
    .event__hours__options {
      width: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      .events__label {
        margin-right: 0.3rem;
      }
      .fa-calendar-alt {
        color: $header-color;
      }
    }
    .fa-clock {
      color: $header-color;
      margin-left: 1rem;
    }
    .btn--events--submit {
      background-color: transparent;
      border: solid 2px $dark-pink;
      color: $dark-pink;
      margin-right: 2rem;
      &:hover {
        background-color: darken($dark-pink, 1);
        color: $analytics__item-bg;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
  .events__select,
  .events__hours__select {
    padding: 0.6rem;
    font-size: 0.9rem;
    border: solid 1px $dark-pink;
    border-radius: 0.5rem;
  }
  .hours_option {
    background-color: $item-filled-bg;
  }
  .events__content {
    width: 50%;
    outline: none;
    border: solid 1px $dark-pink;
    &::placeholder {
      color: $dark-pink;
      padding: 1rem;
    }
  }
}
.calendar {
  margin-top: -20px;
  display: flex;
  .days {
    margin-left: 0px;
    &__list {
      list-style: none;
      &__item {
        padding: 0.5rem;
      }
    }
  }
  .item-filled {
    background-color: $item-filled-bg;
  }
  .hours {
    width: 100%;
    margin-left: -2.5rem;
    &__list {
      list-style: none;
      display: flex;
      &__item {
        width: 5.5%;
        font-size: 0.6rem;
        border: $border;
        padding: 0.2rem;
      }
    }
  }
}
